<!DOCTYPE html>	
<html>

<head>
  <meta charset="utf-8">
  <title>System do głosowania </title>
  <meta name="author" content="">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script> -->
  
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  
  
  <script src="/bootstrap/js/bootstrap.bundle.js"></script>
  <script src="/js/js.js"></script>
  <script src="/js/loadView.js"></script>
  <script src="/js/loadSurveyList.js"></script>
  <link href="/bootstrap/css/bootstrap.css" rel="stylesheet">  
  <link href="/css/style.css" rel="stylesheet" type="text/css" >
  <link href="/css/style2.css" rel="stylesheet" type="text/css" >
  
	<style>
		@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');		
	</style>


</head>

<body>
	<div id="overlay">
		<div id=errorBox onclick="errorGoToMain()">
			<h2 id=errorTitle>Coś poszło nie tak!</h2>
			<div id=errorMsg>Aby kontynuować kliknij...</div>

		</div>
	</div>

	<nav>
	 <div id=leftnav>
		<div id=dodajAnkiete onclick="dodajAnkiete()">Dodaj Ankietę</div>
		<div id=mojeAnkiety >Moje ankiety</div> <!--- Intially hidden -->
	 </div>

	 <div id="loginbox" >
		<div id=logowanie onclick="zaloguj()" > Zaloguj</div>
		
		<div id=zalogowany >
			<div id=ikona></div>
			<div id=uzytkownik>
				<div class="dropdown show">
					  <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<%= user %>
					  </a>

					  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
						<a id="logout" class="dropdown-item" href="#">Wyloguj</a>
					  </div>
				</div>
			
			
			</div>
		</div>


	 </div>
	 
	</nav>
	<div class=spacer></div>
	<div id=main>

		<!-- W/o collapsable tables -->
	<div id=listB>
		<legend>Wypełnij te ankiety</legend>
	
		<table id=wypelnianeAnkiety class="table  table-dark">
		  <thead>
			<tr>
			  <th scope="col">#</th>
			  <th scope="col">ID</th>
			  <th scope="col">Nazwa</th>
			  <th scope="col">Przejdź</th>
			  <th scope="col">Usuń</th>
			</tr>
		  </thead>
		  <tbody>
			<!-- <tr>
			  <th scope="row">1</th>
			  <td hidden>ID Z BAZY</td>
			  <td>/nazwa</td>
			  <td>Klucz</td>
			  <td><a href='#'>>></a></td>
			  <td><a href='#'>USUŃ</a></td>
			</tr>			 -->
			
		  </tbody>
		</table>



	</div>

	<div id=listA>
		<legend>Wyniki dodanych ankiet</legend>
	
		<table id="mojeWyniki" class="table  table-dark">
		  <thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">ID</th>
				<th scope="col">Nazwa</th>
				<th scope="col">Przejdź</th>
				<th scope="col">Usuń</th>
			  </tr>
		  </thead>
		  <tbody>
			<!-- <tr>
				
				<th scope="row">1</th>
				<td hidden>ID Z BAZY</td>
				<td>/nazwa</td>
				<td>Klucz</td>
				<td><a href='#'>>></a></td>
				<td><a href='#'>USUŃ</a></td>
				
			</tr> -->
			
		  </tbody>
		</table>
	</div>
	</div>
	<div class=spacer></div>
	<footer>
		© 2020
	</footer>

 
 
</body>

</html>

<script>
	$(document).ready(function( ){
		var session = document.cookie;
		if(session){
			document.getElementById("logowanie").style.display = "none";
		}else{
			document.getElementById("zalogowany").style.display = "none";
		}
	})
	//console.log("<%= surveyAnother%>");

	//tabelaAnkietDoWypelnienia("<%= JSON.stringify("{{surveyAnother}}")%>");



	let handleW = document.getElementById("wypelnianeAnkiety");
	let rowW, cellW; 
	<% let keyNamesW; %>
    //if("<%= surveyAnother[0]%>" == "xd"){ //a[0]
	<% if( surveyAnother[0] == "xd"){ %>
        //Pusta tabela
        handleW.innerHTML = "<h5> Stwórz ankietę aby zobaczyć wyniki </h5>";
    //}else{  
	<% }else{ %>
        <% let x %>     
        //for(let i = 0 ; i < <%= surveyAnother.length%> ; i++){
		 <% for(let i = 0 ; i <  surveyAnother.length ; i++){ %>  
			<% x = surveyAnother[i];  %> 
            rowW = handleW.insertRow();
            rowW.insertCell().innerHTML = (<%= i %>+1);
            //for(let j=0; j < x.length; j++){

			<% for(let j=0; j < 2; j++){ %>
				cellW = rowW.insertCell();
				
				<% keyNamesW = Object.keys( x );%>
				cellW.innerHTML  = "<%= x[keyNamesW[j]] %>";
			
			<% } %>
            //linkowanie do zaladujAnkiete.ejs
            
			rowW.insertCell().innerHTML = "<a href='/zaladujankiete/" + "<%= x[keyNamesW[0]] %>" + "'>" +" >> "+"</a>";
			//rowW.insertCell().innerHTML = "<a href='zaladujankiete' >" +" >> "+"</a>";
            rowW.insertCell().innerHTML = "<a href='?usun="+ "<%= x[keyNamesW[0]] %> "+"'>"+" Usuń "+"</a>";
            
	 <% 	}%>
	 <% } %>



	let handle = document.getElementById("mojeWyniki");
	let row	, cell;
	<% let keyNames; %>
    //if("<%= surveyAnother[0]%>" == "xd"){ //a[0]
	<% if( surveysYour[0] == "xd"){ %>
        //Pusta tabela
        handle.innerHTML = "<h5> Dodaj ankiety aby je wypełnić </h5>";
    //}else{  
	<% }else{ %>
        <% let x %>     
        //for(let i = 0 ; i < <%= surveyAnother.length%> ; i++){
		 <% for(let i = 0 ; i <  surveysYour.length ; i++){ %>  
			<% x = surveysYour[i];  %> 
            row = handle.insertRow();
            row.insertCell().innerHTML = (<%= i %>+1);
            //for(let j=0; j < x.length; j++){

			<% for(let j=0; j < 2; j++){ %>
				cell = row.insertCell();
				<% keyNames = Object.keys( x ); %>
				cell.innerHTML  = "<%= x[keyNames[j]] %>";
			
			<% } %>
            //linkowanie do zaladujAnkiete.ejs
			//row.insertCell().innerHTML = "<a href='   /wynikiankiety/"+ surveyccv +"/<%= x[keyNames[0]] %>   '> >> </a>";
			row.insertCell().innerHTML = "<a id='wynikiankiety"+ "<%= x[keyNames[0]] %> " +"'> >> </a>";
			row.insertCell().innerHTML = "<a href='?usun="+"<%= x[keyNames[0]] %>"+"'>"+" Usuń "+"</a>";
            
	 <% 	}%>
	 <% } %>

	$("[id^='wynikiankiety']").click(function(){
		//console.log("click");
		let selectorId = $(this).attr("id").replace("wynikiankiety", "").trim();
		//console.log(selectorId);
		let usccv = prompt("Wprowadz kod CCV ,aby zobaczyć wyniki ankietowania");
		if(usccv != null){
			document.location.replace('/wynikiankiety/'+selectorId+"/"+usccv);
		}
	})
	


	$('#dodajAnkiete').click(function(){
			document.location.replace('/dodajankiete');

		});
		
		
	$('#mojeAnkiety').click(function(){
		let usPassword = prompt("Wpisz hasło ,aby kontynuować");
		// let crypt = new SimpleCrypto("<%= user.login%>");
		if(usPassword != null){
			// usPassword = crypt.encrypt(usPassword);
			// $.get('/mojeankiety/'+usPassword ); 
			document.location.replace('/mojeankiety/'+usPassword);
			
		}
		
		
		
	});



	
	$('#logout').click(function(){
		document.cookie = "login=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
		document.location.replace('/');
	});

</script>